<p style="color: green"><%= notice %></p>

<div id="articles">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.description %></td>
          <td><%= link_to "View", article %></td>
        </tr>
        <br>
      <% end %>
    </body>
  </table>
</div>

<br>
<button>
  <%= link_to "New article", new_article_path %>
</button>
